/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* imports bootsrap and FontAwesome + allows us to utilize both for styling */


@import "bootstrap";
@import "font-awesome";

/* custom CSS rules *?

/* adds background bluish color to page */
body {
	background-color: #f4f6f8;
}

/* custom header styling */
h1 {
	color: #2c3e50;
	font-weight: bold;
}

/* hightlight section */
.highlight-section {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* image styling */
.profile-mg {
	border-radius: 50%;
	border: 3px solid #6c757d;
	width: 200px;
}

/* card hover effect */
.card:hover {
	transform: scale(1.03);
	transition: 0.3s;
}